/* src/components/WhyUs.css */

/* .whyus-section {
  background-color: #f8f9fa;
} */

.whyus-card {
  background: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.whyus-card:hover {
  transform: translateY(-5px);
}
